body {
	font-family: Tahoma; 
}	

table {
	width: 400px;
	border-collapse: collapse;
}

table > caption {
	font-weight: bold;
	padding-bottom: 10px;
}

td {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid black;
	text-align: center;
}